<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{376,262}}</string>
                <key>offset</key>
                <string>{-48,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,141},{376,262}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,2},{376,258}}</string>
                <key>offset</key>
                <string>{-48,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,145},{376,258}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,2},{376,258}}</string>
                <key>offset</key>
                <string>{-48,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,145},{376,258}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,2},{376,258}}</string>
                <key>offset</key>
                <string>{-48,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,145},{376,258}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{376,258}}</string>
                <key>offset</key>
                <string>{-48,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,145},{376,258}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{376,258}}</string>
                <key>offset</key>
                <string>{-48,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,145},{376,258}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{376,270}}</string>
                <key>offset</key>
                <string>{-48,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,133},{376,270}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bossm_b.png</string>
            <key>size</key>
            <string>{2048,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad58107bd717407a3a6c27e1fe259375$</string>
            <key>textureFileName</key>
            <string>bossm_b.png</string>
        </dict>
    </dict>
</plist>
