<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{254,382}}</string>
                <key>offset</key>
                <string>{-11,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,130},{254,382}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1154},{240,382}}</string>
                <key>offset</key>
                <string>{-4,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,130},{240,382}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,386},{244,382}}</string>
                <key>offset</key>
                <string>{-6,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,130},{244,382}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1486},{302,466}}</string>
                <key>offset</key>
                <string>{17,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,46},{302,466}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1002},{280,482}}</string>
                <key>offset</key>
                <string>{20,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,30},{280,482}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{280,484}}</string>
                <key>offset</key>
                <string>{23,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,28},{280,484}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,512}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,0},{318,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,516},{228,438}}</string>
                <key>offset</key>
                <string>{10,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,74},{228,438}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,386},{244,350}}</string>
                <key>offset</key>
                <string>{12,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,162},{244,350}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,2},{198,264}}</string>
                <key>offset</key>
                <string>{8,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,248},{198,264}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,1538},{194,264}}</string>
                <key>offset</key>
                <string>{21,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,248},{194,264}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,386},{254,382}}</string>
                <key>offset</key>
                <string>{-11,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,130},{254,382}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,386},{154,122}}</string>
                <key>offset</key>
                <string>{0,-195}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,390},{154,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1954},{92,82}}</string>
                <key>offset</key>
                <string>{-11,-215}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,430},{92,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,770},{278,380}}</string>
                <key>offset</key>
                <string>{6,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,132},{278,380}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{240,382}}</string>
                <key>offset</key>
                <string>{-18,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,130},{240,382}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,770},{250,382}}</string>
                <key>offset</key>
                <string>{-14,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,130},{250,382}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1724},{288,380}}</string>
                <key>offset</key>
                <string>{1,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,132},{288,380}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{282,382}}</string>
                <key>offset</key>
                <string>{3,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,130},{282,382}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1340},{250,382}}</string>
                <key>offset</key>
                <string>{-14,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,130},{250,382}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,956},{254,382}}</string>
                <key>offset</key>
                <string>{-11,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,130},{254,382}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>engine_v.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4da706883eaa88edb040aa5e39ff6fe8$</string>
            <key>textureFileName</key>
            <string>engine_v.png</string>
        </dict>
    </dict>
</plist>
