<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{294,440}}</string>
                <key>offset</key>
                <string>{17,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,72},{294,440}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{386,440}}</string>
                <key>offset</key>
                <string>{-14,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,72},{386,440}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,424},{374,400}}</string>
                <key>offset</key>
                <string>{-39,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,73},{374,400}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{366,332}}</string>
                <key>offset</key>
                <string>{-73,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{366,332}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,370},{326,236}}</string>
                <key>offset</key>
                <string>{-79,110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,28},{326,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{420,326}}</string>
                <key>offset</key>
                <string>{-6,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,14},{420,326}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,444},{428,372}}</string>
                <key>offset</key>
                <string>{-24,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,21},{428,372}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bossma1_v.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54690ca02254b73035b36944b336052e$</string>
            <key>textureFileName</key>
            <string>bossma1_v.png</string>
        </dict>
    </dict>
</plist>
