<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,902},{264,368}}</string>
                <key>offset</key>
                <string>{-57,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,144},{264,368}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1700},{330,368}}</string>
                <key>offset</key>
                <string>{-91,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,144},{330,368}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1680},{292,368}}</string>
                <key>offset</key>
                <string>{-73,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,144},{292,368}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1310},{304,368}}</string>
                <key>offset</key>
                <string>{-79,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,144},{304,368}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{382,452}}</string>
                <key>offset</key>
                <string>{-18,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,60},{382,452}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,466},{370,452}}</string>
                <key>offset</key>
                <string>{-2,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,60},{370,452}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{362,462}}</string>
                <key>offset</key>
                <string>{-24,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,50},{362,462}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{370,478}}</string>
                <key>offset</key>
                <string>{-15,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,34},{370,478}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{368,484}}</string>
                <key>offset</key>
                <string>{-27,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,28},{368,484}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,2},{382,404}}</string>
                <key>offset</key>
                <string>{0,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,108},{382,404}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1812},{194,164}}</string>
                <key>offset</key>
                <string>{-1,-174}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,348},{194,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,1272},{256,368}}</string>
                <key>offset</key>
                <string>{-55,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,144},{256,368}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,778},{154,122}}</string>
                <key>offset</key>
                <string>{0,-195}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,390},{154,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1310},{92,82}}</string>
                <key>offset</key>
                <string>{-11,-215}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,430},{92,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,920},{248,388}}</string>
                <key>offset</key>
                <string>{-29,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,124},{248,388}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1422},{270,388}}</string>
                <key>offset</key>
                <string>{-26,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,124},{270,388}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,920},{246,388}}</string>
                <key>offset</key>
                <string>{-46,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,124},{246,388}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1422},{276,388}}</string>
                <key>offset</key>
                <string>{-50,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,124},{276,388}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,1310},{246,388}}</string>
                <key>offset</key>
                <string>{-46,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,124},{246,388}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1812},{232,388}}</string>
                <key>offset</key>
                <string>{-44,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,124},{232,388}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,408},{266,368}}</string>
                <key>offset</key>
                <string>{-60,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,144},{266,368}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>engine_v.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3a96562a84f501a6449b8df1d9560cd$</string>
            <key>textureFileName</key>
            <string>engine_v.png</string>
        </dict>
    </dict>
</plist>
